.docs-browser {

  &-controls {
    display: inline;
    margin-left: 40px;

    img {
      margin: 0 10px;
    }
  }

  &-carousel-wrapper {
    border: 1px solid #b4b4b4;
    padding: 20px 40px 30px 40px;
    position: relative;
  }

  // &-carousel-wrapper1 {
  //   padding: 20px 40px 30px 40px;
  //   position: relative;
  //   border: 1px solid #bd1b1b;
  // }

  &-carousel {
    min-height: 200px;
    max-height: 250px;
    background-color: #ffffff;
    object-fit: contain;
    text-align: center;
    vertical-align: middle;
    margin: auto;

img {
  margin: auto;
  border: 1px solid #b8cffd;
  height: 200px;
  width: auto;
  object-fit: contain;
}
    
    .slick-slide {
      padding: 0 6px;
      height: 200px;
      cursor: pointer;
    }
    .slick-next, .slick-prev {
      &:before {
        color: gray;
      }
    }
  }

}

.lk-block {
  img {
//    width: 231px;
//     height: 206px;
// //    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
// margin: 0 10px;
object-fit: contain;
text-align: center;
vertical-align: middle;
top: 10px;
// bottom: 30px;
  }
}