@import '../../../theme/styles/settings';

.where-to-begin {
  padding: 10px;
  &-item {
    img {
      width: 68px;
      height: 68px;
    }
    &-heading {
      @include fonts($size-larger, $font-family-secondary);
    }
    &-description {
      @include fonts($size-small, $font-family-base);
    }
  }
}
