@import '../../../theme/styles/settings';

.course-block {
  margin-bottom: 30px;
  height: 490px;
  @include respond-to(medium, $type: max) {
    min-height: 432px;
  }
}

.course_skills, .course_skills p {
  font-size: 14px;
}

.plate {
  width: 100%;
//  height: 160px;
&__content {
   min-height: 100%;
  }
}

.course_skills {
  position: relative;
  // img {
  //   width: 231px;
  //   height: 260px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   object-fit: contain;
  // }
  &-wrap {
    padding: 16px;
    // min-height: 266px;
  }
  
  &-name {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 8px 0;
    // line-height: 1.33;
  }
  &-subject {
    font-weight: 600;
    color: #fc8a15;
    margin: 10px 0 3px 0;
  }
  &-price {
    // @include fonts($size-xs, $font-family-secondary);
    @include fonts($size-small, $font-family-base);
    font-weight: 600;
    margin-top: 3px;
  }
}

// Размер квадрата 231*231. Соотношение размеров сторон прямоугольника  1,12 (231*206). Высота может быть больше
.course-block {
  img {
   width: 231px;
    height: 206px;
//    text-align: center;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }
}
.button-cntr {
  // margin-bottom: 28px;
  position:absolute;
  // bottom: -15px;
  left: 0;
  right: 0;
  text-align: center;
}

.toplink {
  @include fonts($size-small, $font-family-base);
  color: #006ec2;
  height:36px;
}

.range1 {
  width: auto;
  height:52px;
//  padding-bottom: 20px;
  // color: #006ec2;
} 

