.video-block {

  position: relative;

  &-image {
    width: 100%;
  }

  .icon-button {
    width: 16px;
    height: 20px;
    position: absolute;
    bottom: 7%;
    left: 3%;
    box-shadow: none;
    border: 0;
  }
}
