@import '../../../theme/styles/settings';
.studentsteachers {

  &-element .grid-col {
    height: 35px;
  }

  .expansion-panel-title .link .link__icon {
    top: 0;
  }

  &-item {
    margin-bottom: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-element {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
  }
  &-lname {
    font-weight: 600;
    font-size: 14px;
  }

  &-star {
    margin-top: 5px;
  }
  &-subject {
    font-weight: normal;
    font-size: 14px;
  }

  &-button {
    text-align: center;
    margin: 12px 0;
  }

}
.studentsteachers-h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.expansion-panel-title a, .expansion-panel-title a:link, .expansion-panel-title a:hover, .expansion-panel-title a:active  {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}