html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: $text-color;
  line-height: $body-line-height;
  @include fonts($size-default, $body-text-family);
}

.header, .footer, .section {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 138px 12px 120px;

  @include respond-to(medium, $type: max) {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include respond-to(mobile) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.section {
  padding-top: 16px;
  padding-bottom: 36px;
  &_fullwidth {
    padding: 12px 0 12px 0
  }
  &_top {
    padding: 0
  }
  &_home_carousel {
    padding-top: 0;
  }
  &_profile {
    padding-bottom: 0;
  }
}

.hr2orange {
  border: none;
  color: #FC8A15;
  background-color: #FC8A15;
  height: 2px;
}
.hr1blue {
  border: none;
  color: #75A3FD;
  background-color: #75A3FD;
  height: 1px;
 }

@media (min-width: 320px) {
  .grid-row_gutter-mobile-s_16 {
    FONT-VARIANT: JIS04;
    margin-left: 0;
    margin-right: 0;
  }
}

.section.breadcrumbs {
  padding-top: 0;
  padding-bottom: 0;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.footer_wrapper {
  margin-top: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1B60FF;
  color: white;
}

.breadcrumb li {
  margin-bottom: 15px;
}
.breadcrumb li {
  display: inline-block;
  color: #000000;
  font-weight: 600;
}
.breadcrumb li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #979797;
  text-decoration: none;
}
.oval {
  width: 6px;
  height: 6px;
  margin: 0 9px 2px 9px;
}

.course-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  float: left;
  margin-bottom: 16px;
}
.chevron {
  float: right;
}
.courses-announce {
  clear: both;
  width: 95%;
  margin-bottom: 10px;
}
.courses-wrap {
  border: solid 1px #b4b4b4;
  padding: 18px;
  margin-bottom: 18px;
  min-height: 52px;
}
.courses h3{
  margin: 9px 0 12px;
}
.ul-orange {
  margin-left: 15px;
  list-style-image: url(../../theme/images/oval1.svg);
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.8;
}
.ul-without {
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.8;
}
.price-course {
  font-size: 22px;
  font-weight: 600;
}
.bold18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}
.bold14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.22;
  // text-decoration: underline;
  font-style: italic;
  border: 1px solid #006ec2;
  text-align: center;

}
.signup-wrap {
  margin: 64px 0 54px;;
  background: url(../../theme/images/form-singup.svg) right bottom no-repeat #ffdd83;
}
.form-signup {
  width: 600px;
  padding: 32px 0 32px 137px;
}
.form-title {
  font-size: 28px;
  font-weight: 800;
}

hr {
  border: 1px solid #FC8A15;
}
.hr1 {
  border: 1px solid #ffffff;
}
.hr2 {
  border: 1px solid #1B60FF;
}

.scroll-your-role {
  font-size: 14px;
  font-weight: 500;
}

.menu-content__title {
  font-size: 22px;
  font-weight: 600;
}

.menu-content__title1 {
  font-size: 20px;
  font-weight: 600;
}

.menu-content__ps {
  margin: 0;
  list-style-image: url(../../theme/images/oval1.svg);
}

.menu-content__ps2 {
  margin-left: 80px;
  list-style-image: url(../../theme/images/oval1.png);
}

.menu-content__ps21 {
  margin-left: 25px;
}

.menu-list-terms {
  list-style-type: decimal !important;
  padding: 0 0 0 10px;
}

/* number4 */

ol.wsnumber4{
        display: block;
        counter-reset: wslist3;
//        color:#444;
//        color:#FC8A15;
        color:#000000;

}

ol.wsnumber4 li {
        list-style: none;
        margin: 0 0 0em 1.35em;
        position:relative;
}


ol.wsnumber4 > li::before{
    background:#e3e3e3 ;
    border-radius:50%;
//    color: #000000;    
    color: #333;
    content: counter(wslist3) ".";
    counter-increment: wslist3;
    display: inline-block;
    height: 27px;
    left: -40px;
    line-height: 22px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 27px;
}

/* ol */

ol.wsnumber4 ol{
        display: block;
        counter-reset: wslists;
        color:#777;
        border-left: 1px solid #e3e3e3;
        padding-left:15px;
        transition: all 0.3s ease 0s;
}

ol.wsnumber4 ol li{
        margin: 1em 0 0em 3em;
        list-style: none;
        position:relative;
        transition: all 0.3s ease 0s;
}

//*********
ol.wsnumber4 li ul li::before{
    background: #e27a14;
    border-radius:50%;
//    color: #333;
    color: #ffffff;
    display: inline-block;
    height: 5px;
    left: -40px;
    line-height: 32px;
    padding: 1px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 5px;
}


//******************************

ol.wsnumber4 li{
//    color:#FB456C;
    color:#777;

}

ol.wsnumber4 ul{
//    color:#FB456C;
    color:#777;

}

ol.wsnumber4 p {
//  margin-left: 80px;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color:#777;
    padding: 5px;
}

ol.wsnumber4 li li{
    font-size: 16px;
    font-weight: normal
}

ol.wsnumber4 ol li::before{
    background: #e3e3e3;
    border-radius:50%;
    color: #333;
    content: counter(wslist3) "." counter(wslists) ".";
    counter-increment: wslists;
    display: inline-block;
    height: 27px;
    left: -40px;
    line-height: 22px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 27px;
}


/*end ol */

/* ol ol*/

ol.wsnumber4 ol ol{
    counter-reset: wslists2;
}

ol.wsnumber4 ol ol li::before{
    content: counter(wslist3) "." counter(wslists) "." counter(wslists2);
    counter-increment: wslists2;
    font-size:14px;
}


/*end ol ol*/
/*hover ol ol*/
ol.wsnumber4 ol:hover{
    border-left: 1px solid #1B60FF;
//        border-left: 1px solid #e27a14;
}

ol.wsnumber4 li li:hover{
//  color:#333;
  color:#000000;
}

ol.wsnumber4 li:hover{
//  color:#333;
  color:#000000;
}

ol.wsnumber4 li:hover:before {
//  background: #e27a14;
  background: #1B60FF;
//  background: #FB456C;
//  background: #fc8a15C;
  color:#fff;
}


ol.wsnumber4 ul:hover{
//  color:#333;
  color:#000000;
}


ol.wsnumber4 p:hover{
//  color:#333;
  color:#000000;
}

ol.wsnumber4 li:hover:before {
//  background: #e27a14;
  background: #1B60FF;
//  background: #FB456C;
//  background: #fc8a15C;
  color:#fff;
}


.footer__content__disclaimer{
  .footer_cookies_link{
    color: #FC8A15;

  }
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: auto;
  flex: auto;
  margin-left: auto;
  margin-right: auto;
}
// Стили личных кабинетов
.starsize {
  height: 24px;
}
.timer-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  min-width: 175px;
  vertical-align: middle;
  margin-top: 5px;
}
.timer-block {
  display: inline-block;
  vertical-align: middle;
}

.info-lk {
  margin-bottom: 9px;
}
.info-lk-contact {
  display: inline-block;
  min-width: 175px;
  vertical-align: top;
  margin: 19px 0 8px;
  font-size: 14px;
}

.info-lk-contact ul li {
  margin-bottom: 6px;
}
.info-lk-soc {
  text-align: center;
  display: inline-block;
  width: 310px;
  vertical-align: top;
  margin: 19px 0 8px;
  font-size: 14px;
  img {
    margin: 0 5px;
  }
}
.info-lk-soc-title {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin-bottom: 7px;
}

.student-settings .about-h1 {
font-size: 28px;
margin: 14px 0;
}

.stats-wrap img {
  max-width: 100%;
}

.settings-h2 {
  margin: 0 0 13px 0;
}
// ------
// Финансы и Статистика
.finance {

  .expansion-panel-title .link .link__icon {
    top: 0px;
  }

  &-item {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 19px;
  }

  &-block a {
    width: 40px;
  }

  &-block-balance {
    margin-right: 3px;
    font-weight: 800;
    font-size: 18px;
    display: inline-block;
    width: 72px;
  }

  &-block-price {
    @include fonts($size-xs, $font-family-third);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display: inline-block;
    margin-right: 17px;
    margin-left: 24px;
  }

  &-block-date {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-right: 90px;
  }

  &-block-pic {
    display: inline-block;
  }
  &-block-pic-text {
    display: inline-block;
    position: relative;
    margin-right: 42px;
    &:after {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      right: -18px;
      top: -2px;
    }
  }
  &-block-pic-img {
    display: inline-block;
  }

  &-block img {
    margin-bottom: -18px;
    display: inline-block;
  }

  &-stat-operation {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 18px;
    color: #979797;
  }
  &-stat-action {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-left: 26px;
    font-weight: 600;
    font-size: 18px;
    color: #979797;
    &:before {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      left: -18px;
      top: 0;
    }
  }
}

.expansion-panel-title a,
.expansion-panel-title a:link,
.expansion-panel-title a:hover,
.expansion-panel-title a:active {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
//--------------------
// Реализация( продавец) и Текущие покупки (покупатель) 
.academ {
  .expansion-panel-title .link .link__icon {
    top: 0;
  }
  &-item {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  &-lesson-title {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 98px;
    vertical-align: middle;
  }

  &-lesson-subject {
    font-weight: normal;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-left: 24px;
    font-weight: 600;
    font-size: 18px;
    color: #979797;
    vertical-align: middle;
    &:before {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      left: -18px;
      top: -2px;
    }
  }
  &-lesson-subject1 {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-left: 24px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    &:before {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      left: -18px;
      top: -2px;
    }
  }
  &-request-title {
    margin-right: 4px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 77px;
  }
  &-request-amount {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    width: 34px;
    margin-right: 4px;
  }
  &-request-detail {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }
  &-request-literature {
    display: inline-block;
    vertical-align: middle;
  }
  &-request-literature ul li {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-left: 24px;
    font-weight: 600;
    font-size: 18px;
    color: #979797;
    &:before {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      left: -18px;
      top: -2px;
    }
  }
  &-lesson-nearest {
    font-weight: 600;
    font-size: 18px;
    color: #fc8a15;
    margin-bottom: 14px;
  }
  &-lesson-header {
    font-size: 18px;
    color: #979797;
    margin: 14px 0 16px;
  }
  &-lesson-schedule {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-bottom: 14px;
  }
  &-lesson-detail-title {
    font-size: 15px;
    color: #979797;
    margin-bottom: 14px;
  }
  &-lesson-detail {
    &-avatar {
      float: left;
      margin: 0 5px 5px 0;
      width: 40px;
      height: auto;
    }
  }
  &-lesson-buttons {
    text-align: center;
  }
  &-lesson-buttons .button {
    margin: 0 40px 35px;
  }
  &-lessons-button {
    margin: 30px 0 20px;
    display: block;
    text-align: center;
  }

  .academ-lesson-subject1 span {
    color: #979797;
  }
  &-lesson-timer {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 21px;
  }
  &-lesson-button {
    display: inline-block;
    vertical-align: middle;
  }
}

.academ-request,
.academ-lesson {
  margin-top: 8px;
}
//-------------------------
//---- ЧАТ
.chat {
  .expansion-panel-title .link .link__icon {
    top: 0;
  }
  &-item {
    margin-bottom: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-block a {
    width: 40px;
  }
  &-block-pic {
    display: inline-block;
    width: 72px;
  }
  &-block-reading {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    color: #FC8A15;
    vertical-align: middle;
  }
  &-block img {
    margin-bottom: -10px;
    width: 80%;
    height: 80%;
    display: inline-block;
  }
  &-frame {
    border: 1px solid #979797;
    padding: 8px;
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  &-teacher {
    background: #E3F8FF;
    border-radius: 14px;
    padding: 2px;
  }
  &-student {
    background: #F9E7F5;
    border-radius: 14px;
    padding: 2px;
  }
  &-student-time {
    text-align: right;
  }
  &-notreading {
    font-size: 14px;
    color: #979797;
    margin-top: 90px;
    text-align: center;
  }
  &-send {
    border: 1px solid #979797;
    border-radius: 40px;
    height: 62px;
    color: #979797;
    padding: 15px 10px;
    margin: 10px;
  }
  &-send-pic {
    margin-top: 16px;
  }
}
.block-title {
  font-weight: 600;
  font-size: 18px;
  // display: inline-block;
  max-width: 260px;
  vertical-align: middle;
}
.block-date {
  font-size: 14px;
  text-align: center;
  margin-top: 1.2vw;
}
//------------
// ----Страница витрины, магазина
.teacher-button {
  margin-top: 20px;
}
.teacher-button .button {
  padding: 9px 28px;
}

// Мгновенная прокрутка вверх
.b-top{
  z-index:2600;
  position:fixed;
  left:0;
  bottom:90px;
  width:34%;
  margin-left:50%;
  opacity: 0.5;
  filter:alpha(opacity=50);
}
.b-top:hover{
  opacity:1;
  filter:alpha(opacity=100);
  cursor:pointer;
}
.b-top-but{
  z-index:2600;
  position:absolute;
  display:block;
  left:56px;
  bottom:0;
  margin:0 0 0 100%;
  padding:32px 12px 4px; 
  color:white;
  background:#D8D5C2 url(http://site.yandex.ru/static/css/blocks/b-j-top/b-j-top.png/b-j-top.png) no-repeat 50% 11px;
  border-radius:7px;
}