@import '../../../theme/styles/settings';

.student-settings {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 496px;

  .student-about-settings {
    margin: 20px 0 0 0;
    text-align: right;
    padding-right: 138px;
  }
  .student-about-settings img {
    margin: 0 6px -6px 0;
  }

  .student-online {
    margin-bottom: 6px;
    font-size: 14px;
    img {
      margin-right: 11px;
    }
    button {
      margin-left: 8px;
    }
    .student-online-status {
      margin: 0 0 -5px 0px;
    }
  }
  .student-online-1 {
    display: inline-block;
    min-width: 218px;
  }
  .student-online-2 {
    display: inline-block;
    min-width: 175px;
  }
  .student-balance {
    @include fonts($size-xs, $font-family-third);
    font-weight: 800;
    font-size: 18px;
    margin-left: 11px;
  }
  .student-online-hat {
    margin: 14px 0 4px;
  }
  .student-subjects {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 7px;
  }
  .student-timer-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    min-width: 175px;
    vertical-align: middle;
    margin-top: 5px;
  }
  .student-timer-block {
    display: inline-block;
    vertical-align: middle;
  }
  .student-subjects ul li {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fc8a15;
    display: inline-block;
    width: 200px;
    margin: 0 12px 12px 0;
  }
  .student-data {
    margin-bottom: 9px;
  }
  .student-data-contact {
    display: inline-block;
    min-width: 175px;
  }
  .student-data-contact ul li {
    margin-bottom: 6px;
  }
  .student-data-soc {
    display: inline-block;
    width: 310px;
  }
  .student-data-contact,
  .student-data-soc {
    vertical-align: top;
    margin: 19px 0 8px;
    font-size: 14px;
  }
  .student-data-soc {
    text-align: center;
  }
  .student-data-contact-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 7px;
  }
  .student-data-soc-title {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-bottom: 7px;
  }
  .student-data-soc img {
    margin: 0 5px;
  }

  @media screen and (max-width: 599px) {
    .student-about {
      padding: 0 20px 0 30%;
    }
  }
}

.student-settings .student-about-h1 {
  font-size: 28px;
  margin: 14px 0;
}

.popup .student-online-list ul li {
  font-size: 14px;
  line-height: 20px;
  padding-left: 33px;
  min-height: 25px;
}
.popup .student-online-list ul li.active {
  background: url('../../../theme/images/account/check1.svg') no-repeat left top;
}

.section .student-star {
  margin-top: 24px;
  text-align: right;
}
.student-stats-wrap img {
  max-width: 100%;
}

.right-poz {
  text-align: right;
}

.students-teachers-control {
  display: inline;
  margin-left: 50px;
  img {
    margin: 0 10px;
  }
}
.students-element {
  margin-top: 0;
  padding-top: 0;
  &-controls {
    display: inline;
    margin-left: 140px;
    img {
      margin: 0 10px;
    }
  }
}
.student-settings-h2 {
  margin: 0 0 13px 0;
}

.course-create {
  border: 1px solid #b4b4b4;
  padding: 6px 21px;
}

.course-create-btn {
  float: right;
}
