@import '../../../theme/styles/settings';
.studentfinance {

  .expansion-panel-title .link .link__icon {
    top: 0;
  }

  &-item {
    margin-bottom: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &-block a {
    width: 40px;
  }

  &-block-balance {
    margin-right: 3px;
    font-weight: 800;
    font-size: 18px;
    display: inline-block;
    width: 72px;
  }

  &-block-price {
    @include fonts($size-xs, $font-family-third);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display: inline-block;
    margin-right: 17px;
    position: relative;
    margin-left: 24px;
    &:before {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      left: -16px;
      top: -2px;
    }
  }

  &-block-date {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-right: 90px;
  }

  &-block-pic {
    display: inline-block;
  }
  &-block-pic-text {
    display: inline-block;
    position: relative;
    margin-right: 42px;
    &:after {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      right: -18px;
      top: -2px;
    }
  }
  &-block-pic-img {
    display: inline-block;
  }

  &-block img {
    margin-bottom: -18px;
    display: inline-block;
  }

  &-stat-operation {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 18px;
    color: #979797;
  }
  &-stat-action {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-left: 26px;
    font-weight: 600;
    font-size: 18px;
    color: #979797;
    &:before {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      left: -18px;
      top: 0;
    }
  }
  &-stat-all {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-left: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    &:before {
      background: url("../../../theme/images/account/pic-checked.svg") no-repeat center center;
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      left: -36px;
    }
  }

}
.studentfinance-h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.expansion-panel-title a, .expansion-panel-title a:link, .expansion-panel-title a:hover, .expansion-panel-title a:active  {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}