@import '../../../../theme/styles/settings';

.studenttask-modal {

  .form-field  {
    margin: 0;
    padding: 0;
  }
  &-date {
    font-weight: normal;
    font-size: 18px;
    color: #FC8A15;
    text-align: right;
    margin-bottom: 10px;
  }
  &-lesson {
    margin-top: 30px;
  }

  &-lesson-theme {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #979797;
  }

  &-lesson-theme1 {
    font-weight: normal;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-left: 26px;
    font-size: 14px;
    vertical-align: middle;
    &:before {
      content: '• ';
      font-family: 'slick';
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #fc8a15;
      position: absolute;
      left: -18px;
      top: -2px;
    }
  }

  &-task-list {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin-bottom: 22px;
  }

  &-task1 img {
    margin-left: 5px;
  }

  &-table {
    border-collapse: collapse;
    font-size: 12px;
    min-width: 100%;
  }
  &-table, &-table th, &-table td {
    border: 1px solid rgba(196, 196, 196, 0.4);
    padding: 4px 10px;
  }
  &-table-head {
    font-size: 14px;
    text-align: center;
  }
  &-table p {
    margin: 0;
  }


  &-table-picname {
    vertical-align: middle;
  }

  &-table-picname img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
  }

  &-table td.studenttask-modal-table-date {
    text-align: center;
  }

}
.shaded-td {
  color: #979797;
}

h2.studenttask-h2 {
  @include fonts($size-xs, $font-family-third);
  font-weight: 800;
  font-size: 22px;
  margin: 8px 0;
}

@media screen and (max-width: 780px) {
  .studenttask-modal {
    min-width: 100%
  }
}
