@import '../../../../theme/styles/settings';

.modal8 {
  &-title {
    font-size: 18px;
  }
  &-address {
    font-size: 14px;
    border: 1px solid #979797;
    border-bottom: none;
    padding: 19px 0 19px 10px;
  }
}



