@import '../../../../theme/styles/settings';

.slick-dots{
  li {
    button {
      &:before {
        font-size: 14px;
	color: #1B60FF;;
      }
      &:hover {
        font-size:12px;
	color: #e27a14;
      }
    }
  }

}

