@import '../../../theme/styles/settings';

.teacher-settings {
  min-height: 450px;
}

.video-profile img {
  // margin: 0 6px -6px 0;
  max-height: 190px;
  max-width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


